.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    &-content {
        flex-direction: column;
    }
    &-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
    color:#fff;
    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url("../assets/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    z-index: -1;
  }
}

.header h1 {
    font-size: 2.5rem;
}

.header .highlight {
    color: #4a90e2;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.primary {
    background-color: #4a90e2;
    color: white;
}

.btn.secondary {
    background-color: white;
    color: #4a90e2;
    border: 1px solid #4a90e2;
}

.header-image img {
    max-width: 100%;
    height: auto;
}
